# Node modules
**/node_modules/

# Env files
*.env

# Build outputs
dist/
build/

# Logs
*.log
logs/
npm-debug.log*

# IDE folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Optional: local dev database
*.db
